@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #333333;
    
}

.intro {
position: absolute;
width: 80%;
height: 320px;
left: 30px;
top: 101px;
}


h1 {
    font-family: 'Space Mono', monospace;
    color: #ffffff;
    font-size: 60pt;
    text-transform: uppercase;
}

h3 {
    font-family: 'Space Mono', monospace;
    font-size: 16pt;
    color: #AEC399;
}
