@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
    background-color: #333333; }

::selection {
  color: #ffffff;
    background: #AEC399; }

@media screen and (min-width: 480px) {

/* div central */

.main {
 width:100%;
 height: auto;
}

/* outras divs */
.intro {
position: absolute;
width: 90%;
height: 100%;
right: 30px;
left: 30px;
top: 101px;
display: block;
}
    
.footer {
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottombarb {
  background-color: transparent;
  overflow: hidden;
  position: static;
  bottom: 0;
  width: 100%;
}

img.botaoAR {
  height: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;
}

}

/* destaques textuais */
    
h1 {
    font-family: 'Space Mono', monospace;
    color: #ffffff;
    font-size: 43px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Space Mono', monospace;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: #AEC399;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-align: justify;
    text-justify: inter-word;
}

/* parágrafos e underline */
p {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 24px;
    text-align: justify;
    text-justify: inter-word;
}

u { 
    color: #AEC399;
}


 
/* links */
    
    a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #AEC399;
}

a:active {
  text-decoration: none;
}

