@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
    background-color: #333333; }

::selection {
  color: #ffffff;
    background: #AEC399; }

/* caixa para o texto introdutório */
.intro {
position: absolute;
width: 80%;
height: 320px;
left: 30px;
top: 101px;
}

/* destaques textuais */
    
h1 {
    font-family: 'Space Mono', monospace;
    color: #ffffff;
    font-size: 60pt;
    text-transform: uppercase;
}

h3 {
    font-family: 'Space Mono', monospace;
    font-size: 18pt;
    color: #AEC399;
}

/* parágrafos e underline */
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

u { 
    color: #AEC399;
}
 
/* links */
    
    a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #AEC399;
}

a:active {
  text-decoration: none;
}

/* botão de AR - index.html */

.botaoARbar {
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

img.botaoAR {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;
}
